<div class="row">
    <div class="col p-3 bg-secondary text-white">
        <strong>Name:</strong> FIRSTNAME LASTNAME <br/>
        <strong>Company: </strong> COMPANY <br/>
        <strong>Title:</strong> TITLE <br/>
        <strong>Department:</strong> DEPARTMENT<br/>
    </div>
    <div class="col p-3 bg-secondary text-white">
        <strong>Phone:</strong> PHONE <br/>
        <strong>Address:</strong> ADRESS, CITY, STATE ZIP <br/>
        <strong>Website:</strong> <a href="https://www.google.com" clsss="text-white">Google</a> <br/>
    </div>
    <div class="col p-3 bg-secondary text-white">
        <img src="images/laptop.webp" class="rounded-circle" alt="Cinque Terre" width="200px;" height="125x;">
        
    </div>
  </div>