<div class='container-fluid'>
<% members.forEach(function(member){ %>
    <div class="row content member" >
        <div class="col p-3 text-dark">
            <strong>Name:</strong> <%- member.firstName; %> <%- member.lastName; %><br/>
            <strong>Company: </strong> <%- member.company; %> <br/>
            <strong>Title:</strong> <%- member.title; %> <br/>
            <strong>Department:</strong> <%- member.department; %><br/>
        </div>
        <div class="col p-3  text-dark">
            <strong>Phone:</strong> <%- member.phone; %> <br/>
            <%if (member.primaryAddress !== 0) { %>
            <strong>Address:</strong>
                <%- member.address; %> , <%- member.city; %>,  <%- member.state; %>  <%- member.zip; %>
                <br/>
            <% } %>
            <strong>Website:</strong> <a href="<%- member.url; %>" clsss="text-white"><%- member.url; %></a> <br/>
        </div>
        <div class="col p-3 text-dark">
            <img src="<%- member.image; %>"  alt="Cinque Terre" width="200px;" height="125x;">
        </div>
      </div>
<% }); %>
</div>



